<body>
  {{ echo |> toUpperCase }}
  hello world
  {{ mola }}
  {{ /echo }}

  {{ echo "foo" |> toUpperCase }}

  {{ for await key, file of Deno.readDir(".") }}
    <div> {{key}}: {{file.name}}</div>
  {{ /for }}

</body>
